<div class="container">
  <div class="text-center padded">
    <h2>Voici les cocktails disponibles</h2>
  </div>
   <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <% if cocktail.photos.first %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path cocktail.photos.first.path%>);">
        <% else %>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url("" );">
        <% end %>
          <div class="card-category"><%= cocktail.name %></div>
          <div class="card-description"></div>
        <%= link_to cocktail.name, cocktail_path(cocktail), class: "card-link" %>
        </div>
      </div>
    <% end %>
  </div>
 </div>
